<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collapsible - VSCode Elements Lite</title>
    <link rel="stylesheet" href="/node_modules/@vscode/codicons/dist/codicon.css">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="../action-button/action-button.css">
    <script type="module" src="/node_modules/@vscode-elements/webview-playground/dist/index.js"></script>
  </head>

  <body>
    <h1>Collapsible</h1>

    <vscode-demo>
      <details class="vscode-collapsible">
        <summary>
          <i class="codicon codicon-chevron-right"></i>
          <h2 class="title">Elements Lite</h2>
        </summary>
        <div>
          <p>
            Nam sed ipsum iaculis, tincidunt justo at, tincidunt ex. Quisque tortor purus, aliquet vitae congue sit
            amet, posuere id nibh. Suspendisse potenti. Morbi venenatis enim mi. Etiam nec lorem lacinia, tempor urna
            vitae, consectetur lorem. Fusce suscipit risus sit amet posuere cursus. In hac habitasse platea dictumst.
          </p>
        </div>
      </details>
      <details class="vscode-collapsible">
        <summary>
          <i class="codicon codicon-chevron-right"></i>
          <h2 class="title">
            Timeline
            <span class="description">collapsible.html</span>
          </h2>
          <div class="actions">
            <button type="button" class="vscode-action-button" title="New File">
              <i class="codicon codicon-new-file" aria-hidden="true"></i>
            </button>
          </div>
        </summary>
        <div>
          <p>
            Nam sed ipsum iaculis, tincidunt justo at, tincidunt ex. Quisque tortor purus, aliquet vitae congue sit
            amet, posuere id nibh. Suspendisse potenti. Morbi venenatis enim mi. Etiam nec lorem lacinia, tempor urna
            vitae, consectetur lorem. Fusce suscipit risus sit amet posuere cursus. In hac habitasse platea dictumst.
          </p>
        </div>
      </details>
    </vscode-demo>
  </body>
</html>
