.IconPicker {
  display: block;
  position: relative;
}

.IconPicker label {
  display: block;
  width: 100%;
}

.dropdown {
  background-color: var(--sl-color-black);
  border: 1px solid var(--sl-color-gray-5);
  border-radius: 5px;
  box-shadow: var(--sl-shadow-md);
  color: var(--sl-color-white);
  margin-top: 3px;
  padding: 8px;
  position: absolute;
  top: 60px;
  width: 360px;
  z-index: 1;
}

.dropdown .formControl {
  margin-bottom: 8px;
}

.dropdown input {
  border: 1px solid var(--sl-color-gray-5);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 13px;
  padding: 8px;
  width: 100%;
}

.dropdown ul {
  display: flex;
  flex-wrap: wrap;
  height: 128px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
  width: 100%;
}

.dropdown ul:after {
  content: "";
  flex: auto;
}

.dropdown li {
  display: block;
  height: 32px;
  margin: 0;
  padding: 0;
  width: 32px;
}

.dropdownButtons {
  margin-top: 8px;
}

.dropdownButtons .actionButton {
  margin-left: auto;
}

.buttons {
  display: flex;
}

.iconButton {
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 32px;
}

.iconButton:hover,
.iconButton.selected {
  background-color: var(--sl-color-gray-6);
}

.actionButton {
  align-items: center;
  background-color: var(--sl-color-gray-6);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  line-height: 16px;
  padding: 5px;
}

.buttons .actionButton.dropdownOpen {
  border-radius: 5px 0 0 5px;
}

.buttons .actionButton.reset {
  border-left: 1px solid var(--sl-color-gray-5);
  border-radius: 0 5px 5px 0;
}

.actionButton :global(.codicon) {
  margin-right: 3px;
}

.text {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
