<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Action Button - VSCode Elements Lite</title>
    <link rel="stylesheet" href="/node_modules/@vscode/codicons/dist/codicon.css">
    <link rel="stylesheet" href="/index.css">
    <script type="module" src="/node_modules/@vscode-elements/webview-playground/dist/index.js"></script>
  </head>

  <body>
    <h1>Action Button</h1>

    <vscode-demo>
      <div style="display: flex">
        <button type="button" class="vscode-action-button" title="File">
          <i class="codicon codicon-file" aria-hidden="true"></i>
        </button>
        <button type="button" class="vscode-action-button" title="File">
          <svg>
            <use xlink:href="/node_modules/@vscode/codicons/dist/codicon.svg#file" />
          </svg>
        </button>
        <button type="button" class="vscode-action-button" title="File">
          <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.71 4.29l-3-3L10 1H4L3 2v12l1 1h9l1-1V5l-.29-.71zM13 14H4V2h5v4h4v8zm-3-9V2l3 3h-3z"
            />
          </svg>
        </button>
      </div>
    </vscode-demo>
    <vscode-demo>
      <button type="button" class="vscode-action-button">
        <i class="codicon codicon-plus" aria-hidden="true"></i>
        <span class="label">Markdown</span>
      </button>
    </vscode-demo>
  </body>
</html>
