<div class="vscode-checkbox">
  <input type="checkbox" id="checkbox-2" />
  <label for="checkbox-2">
    <span class="icon">
      <i class="codicon codicon-check icon-checked"></i>
      <i class="codicon codicon-chrome-minimize icon-indeterminate"></i>
    </span>
    <span class="text">Indeterminate checkbox</span>
  </label>
</div>
<script>
  document.querySelector("#checkbox-2").indeterminate = true;
</script>
